@font-face {
    font-family: "Norse-Bold";
    src: url('./fonts/Norse-Bold.otf');
}

body {
    display:flex;
    flex-direction: row;
    padding:0px;
    margin: 0px;
}

h1 {
    font-family: sans-serif;
}

.left {
    display:flex;
    align-items: center;
    justify-self: center;
    flex:1;
    flex-direction: column;
    width:100vh;
    position: relative;

    background-image: url("./images/leaves.jpg");
    background-size: cover;
    background-position: center;
}
.overlay {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;

    min-width: 100%;

    background-color: rgb(0,0,0, .4);
}
#odin-image {
    display:flex;
    max-height: 200px;
    margin:15px;
}
#odin-text {
    opacity: 1;
    color:white;
    font-size: 128px;
    margin:0px;
    font-family: 'Norse-Bold';
}
#credit {
    position: absolute;
    bottom: 0;
    color: lightgrey;
    text-align: center;
    font-family:'sans-serif';  
}
#credit a {
    color:lightgray;
    font-family:'sans-serif';
}

.right{
    display:flex;
    flex:2;
    height:100vh;
    flex-direction: column;

    background-color: #f0f0f0;
}
.info-half {
    display:flex;
    flex-direction: column;
    padding: 80px;
    margin-top: 10vh;
}
.form-half {
    display: flex;
    flex-direction: column;
}
.entry-half {   
    display:flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px gray;
    padding: 10px 80px 40px 80px;
    background-color: white;
}
fieldset {
    display: flex;
    gap:40px;
    border:0px solid white;
    padding: 10px 0px 10px 0px;
}
.entry-box {
    display: flex;
    flex-direction: column;

    margin:10px 10px 10px 0px;
}
.entry-box p {
    margin: 2px;
    opacity: 0;
}
.input-label {
    font-size: 18px;
    color: #333333;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.error-text {
    opacity: 0;
    color:red;
    margin:0px;
}
input { 
    width: 400px;
    height: 50px;
    font-size: 24px;
    padding-left:10px;
    
    border:1px solid rgb(0,0,0, .4);
    border-radius: 6px;
}
input:focus {
    box-shadow: 0px 5px 10px rgb(0,0,0, 1);
}
input:invalid {
    border: 2px solid red;
}
input:invalid + .error-text {
    font-family: sans-serif;
    opacity: 1;
}


.button-half {
    margin-top: 5vh;
    padding-left: 80px;
    padding-right: 80px;
}
.button-half button {
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    padding: 20px 80px;
    font-family: sans-serif;
    
    font-size: 32px;
}
.button-half p{
    font-family: sans-serif;
}
.button-half a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}